{% extends 'managebill/base.html' %}
{% load static %}

{% block header %}
<h1>Shop list</h1>
{% endblock %}
{% block main %}
<table class="table" style="text-align: center;">
    <thead class="thead-dark bounceInLeft animated">
        <tr>
            <th scope="col">Product name</th>
            <th scope="col">Address</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
        </tr>
    </thead>
    <tbody>
    {% for shop in obj %}
        <tr>
            <td class="bounceIn animated delay-1s">{{ shop.name }} </td>
            <td class="bounceIn animated delay-1s">{{ shop.address }}</td>
            <td class="bounceIn animated delay-1s">
                <a href="{% url 'managebill:shop_delete' shop.id %}" style="color: red;">[X]</a>
            </td>
            <td class="bounceIn animated delay-1s">
                <a href="{% url 'managebill:shop_update' shop.id %}" style="color: blue;">[U]</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a class="btn btn-info" href="{% url 'managebill:shop_create' %}">Create a shop</a>
<a class="btn btn-primary" href="/">Back to index</a>
{% endblock %}
