{% extends 'managebill/base.html' %}
{% load static %}
{% block header %}
<h1>Update {{ obj }}</h1>
{% endblock %}
{% block main %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Done" class="btn btn-info" />
        <a class="btn btn-primary" href="../">Back</a>
    </form>
{% endblock %}
