{% extends 'managebill/base.html' %}
{% load static %}

{% block header %}
    <div class="pulse animated infinite">
      <a href="http://linkedin.com/in/rblezin" style="display: inline-block;">
        <img class="img-fluid mb-5 d-block mx-auto" src="{% static 'managebill/img/profile.png' %}" alt=""/>
      </a>
    </div>
    <h1 class="text-uppercase mb-0 bounceInDown animated slow">Minifid' Project</h1>
    <hr class="star-light bounceInDown animated delay-1s">
    <h2 class="font-weight-light mb-0 bounceInDown animated delay-2s">Developed by an amazing Junior Python Developer</h2>
{% endblock %}

{% block main %}
    <h2 class="text-center text-uppercase text-secondary mb-0">Pages available</h2>
    <hr class="star-dark mb-5">
    <div class="row" style="justify-content: center;">
      <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" href="{% url 'managebill:contacts' %}">
          <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
              <span>Contact list</span>
            </div>
          </div>
          <img class="img-fluid" src="{% static 'managebill/img/portfolio/cabin.png' %}" alt="">
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" href="{% url 'managebill:bills_list' %}">
          <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <span>Bill list</span>
            </div>
          </div>
          <img class="img-fluid" src="{% static 'managebill/img/portfolio/cake.png' %}" alt="">
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" href="{% url 'managebill:products' %}">
          <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
              <span>Product list</span>
            </div>
          </div>
          <img class="img-fluid" src="{% static 'managebill/img/portfolio/circus.png' %}" alt="">
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" href="{% url 'managebill:shops_list' %}">
          <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
              <span>Shop list</span>
            </div>
          </div>
          <img class="img-fluid" src="{% static 'managebill/img/portfolio/game.png' %}" alt="">
        </a>
      </div>
    </div>
{% endblock %}

{% block section %}
    <!-- About Section -->
    <section class="bg-primary text-white mb-0" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">About</h2>
        <hr class="star-light mb-5">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at rutrum enim, non varius est. Nunc in est nec metus condimentum tempus ut non ligula. Pellentesque fermentum ornare quam, nec placerat risus sed.</p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi elementum dui a sapien semper, ac bendum neque ullamcorper. Curabitur a ornare diam. Nunc vestibulum neque vitae quam turpis duis !</p>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
